doctype html
html
    head
        style
            body { color: #394a5f; font-family: sans-serif }
    body
        h2 All Documents in MonogoDB database:
        pre
            code= json
        i #{length} drinks.

        h2 Queried drinks containing cola:
        pre
            code= json2
        i #{length2} drinks.
