<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <title>The Open Bar</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-resource.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <!-- main angular file-->
    <script src="scripts/interface.js"></script>
    <!-- controllers-->
    <script src="scripts/controllers/home.controller.js"></script>
    <script src="scripts/controllers/register.controller.js"></script>
    <script src="scripts/controllers/login.controller.js"></script>
    <script src="scripts/controllers/logout.controller.js"></script>
    <script src="scripts/controllers/add-drink.controller.js"></script>
    <script src="scripts/controllers/drinks.controller.js"></script>
    <script src="scripts/controllers/liquor.controller.js"></script>
    <script src="scripts/controllers/pour.controller.js"></script>
    <script src="scripts/controllers/queuer.controller.js"></script>
    <script src="scripts/controllers/station.controller.js"></script>
    <script src="scripts/controllers/select-station.controller.js"></script>
    <!-- factories-->
    <script src="scripts/factories/select-station.factory.js"></script>
    <script src="scripts/factories/websocket.factory.js"></script>
    <script src="scripts/factories/auth.factory.js"></script>
    <!-- services-->
    <script src="scripts/services/drinks.service.js"></script>
    <script src="scripts/services/liquor.service.js"></script>
    <script src="scripts/services/station.service.js"></script>
    <script src="scripts/services/user.service.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body ng-app="interface">
    <div class="container-fluid">
  
      <nav class="navbar bg-primary navbar-default navbar-fixed-top navbar-dark">
        <a href="/" class="navbar-brand">The Open Bar</a>
        <div class="container">
          <div class="row">
            <div class="col-md-15 col-center">

              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
              </div>

              <div class="navbar-collapse collapse">
                  <ul class="nav navbar-nav navbar-right">
                    <button type="button" class="btn btn-default navbar-btn">Log in</button>
                    <button type="button" class="btn btn-default navbar-btn">Log out</button>
                  </ul>
              </div>

            </div>
          </div>
        </div>
      </nav>

      <div ui-view></div>
    </div>
  </body>
</html>
