doctype html
html(ng-app='interface')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title= title
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-resource.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.js')
    // main angular file
    script(src='scripts/interface.js')
    // controllers
    script(src='scripts/controllers/add-drink.controller.js')
    script(src='scripts/controllers/home.controller.js')
    script(src='scripts/controllers/drinks.controller.js')
    script(src='scripts/controllers/pour.controller.js')
    script(src='scripts/controllers/queuer.controller.js')
    script(src='scripts/controllers/station.controller.js')
    // services
    script(src='scripts/services/drinks.service.js')
    script(src='scripts/services/station.service.js')
    script(src='scripts/services/user.service.js')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.container-fluid
      nav(class='navbar navbar-fixed-top navbar-dark bg-primary')
        a(class='navbar-brand', href='/#/') The Open Bar
      block content
