extends layout

block content
  h1 Your station ID is #{id}
  pre
      code= details

  div
  table
    tr
      each val in [1,2,3,4,5,6]
        td #{val}
    tr
      each val in [1,2,3,4,5,6]
        td hello
