extends layout

block content
  h1 Your station ID is #{id}
  pre
      code= details

  div
  table
    thead
      tr
        each val, index in valves
          td= index
    tbody
      tr
        each val in valves
          td= val
