body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-top: 50px;
}

a {
  color: #00B7FF;
}

.btn.padding {
    margin-bottom: 15px;
}

.input-group-addon.ingredient {
    min-width:125px;
    text-align:left;
    text-transform:capitalize;
}

.navbar-dark .navbar-brand {
    color: #fff;
}
