<div class="page-header">
    <h1>Create a Recipe</h1>
</div>

<!-- for debugging -->
<p><b>liquidSelection:</b> {{liquidSelection | json}}</p>
<p><b>liquidIndex:</b> {{liquidIndex}}</p>
<p>{{messageError}}</p>
<p>{{messageSuccess}}</p>

<div class="form-group row">
    <label for="name" class="col-xs-2 col-md-1 col-form-label">Name</label>
    <div class="col-xs-10 col-md-11">
        <input class="form-control" type="text" ng-model="recipe.name">
    </div>
</div>

<div ng-if="liquidIndex==null && garnishIndex==null">
    <input type="button" class="btn btn-primary" value="Add Liquid" ng-click="addLiquid()"></input>
    <input type="button" class="btn btn-primary" value="Add Garnish" ng-click="addGarnish()"></input>
</div>

<div class="row">
    <div class="col-md-6">
        <div ng-if="liquidIndex!=null">
            <div class="page-header">
                <h3>New Liquid</h3>
            </div>

            <div class="form-group row">
                <label for="type" class="col-xs-2 col-form-label">Type</label>
                <div class="col-xs-10">
                    <select class="form-control" ng-model="recipe.liquids[liquidIndex].type" ng-change="getSubtypes(recipe.liquids[liquidIndex].type)">
                        <option ng-repeat="type in types | orderBy:'type'" value="{{type.type}}">{{type.type}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row" ng-if="liquidSelection.subtypes">
                <label for="type" class="col-xs-2 col-form-label">Subtype</label>
                <div class="col-xs-10">
                    <select class="form-control" ng-model="recipe.liquids[liquidIndex].subtype" ng-change="getBrands(recipe.liquids[liquidIndex].subtype)">
                        <option ng-repeat="subtype in liquidSelection.subtypes | orderBy:'subtype'" value="{{subtype.subtype}}">{{subtype.subtype}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row" ng-if="liquidSelection.brands">
                <label for="brand" class="col-xs-2 col-form-label">Brand</label>
                <div class="col-xs-10">
                    <select class="form-control" ng-model="recipe.liquids[liquidIndex].brand" ng-change="getDescription(recipe.liquids[liquidIndex].brand)">
                        <option ng-repeat="brand in liquidSelection.brands | orderBy:'brand'" value="{{brand.brand}}">{{brand.brand}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row" ng-if="liquidSelection.descriptions">
                <label for="description" class="col-xs-2 col-form-label">Description</label>
                <div class="col-xs-10">
                    <select class="form-control" ng-model="recipe.liquids[liquidIndex].description" ng-change="chooseDescription(recipe.liquids[liquidIndex].description)">
                        <option ng-repeat="description in liquidSelection.descriptions | orderBy:'description'" value="{{description.description}}">{{description.description}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="amount" class="col-xs-2 col-form-label">Amount (oz)</label>
                <div class="col-xs-10">
                    <input class="form-control" type="number" id="amount" ng-model="recipe.liquids[liquidIndex].amount">
                </div>
            </div>

            <div class="form-check row">
                <label for="requirement" class="col-xs-2 col-form-label">Requirement</label>
                <div class="col-xs-10">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" ng-model="recipe.liquids[liquidIndex].requirement">
                    </label>
                </div>
            </div>

            <div class="form-check row">
                <div class="col-xs-12">
                    <input type="button" class="btn btn-primary" value="Add Liquid to Recipe" ng-click="addLiquidToRecipe()"></input>
                </div>
            </div>
        </div>

        <div ng-if="garnishIndex!=null">
            <div class="page-header">
                <h3>Garnish {{garnish.id}}</h3>
            </div>

            <div class="form-group row">
                <label for="name" class="col-xs-2 col-form-label">Name</label>
                <div class="col-xs-10">
                    <input class="form-control" type="text" id="name" ng-model="recipe.garnishes[garnishIndex].name">
                </div>
            </div>

            <div class="form-group row">
                <label for="amount" class="col-xs-2 col-form-label">Amount</label>
                <div class="col-xs-10">
                    <input class="form-control" type="text" id="amount" ng-model="recipe.garnishes[garnishIndex].amount">
                </div>
            </div>

            <div class="form-check row">
                <div class="col-xs-12">
                    <input type="button" class="btn btn-primary" value="Add Garnish to Recipe" ng-click="addGarnishToRecipe()"></input>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="page-header">
            <h3>Recipe</h3>
        </div>
        <p>{{recipe | json}}</p>

        <div class="page-header">
            <h4>Liquids</h4>
        </div>
        <div ng-repeat="liquid in recipe.liquids track by $index">
            <p>{{liquid.amount}}oz {{liquid.type}} {{liquid.subtype}} {{liquid.brand}} {{liquid.description}} {{liquid.requirement}}</p>
        </div>

        <div class="page-header">
            <h4>Garnishes</h4>
        </div>
        <div ng-repeat="garnish in recipe.garnishes track by $index">
            <p>{{garnish.name}} {{garnish.amount}}</p>
        </div>

        <input type="button" class="btn btn-success" value="Submit Recipe" ng-click="submitRecipe()"></input>
    </div>
</div>