<div class="page-header">
    <h1>Create a Recipe</h1>
</div>

<div class="form-group row">
    <label for="name" class="col-xs-2 col-md-1 col-form-label">Name</label>
    <div class="col-xs-10 col-md-11">
        <input class="form-control" type="text" ng-model="recipe.name">
    </div>
</div>

<input type="button" class="btn btn-primary" value="Add Drink" ng-click="addDrink()"></input>
<input type="button" class="btn btn-primary" value="Add Garnish" ng-click="addGarnish()"></input>
<input type="button" class="btn btn-success" value="Save" ng-click="saveRecipe()"></input>

<div class="row">
    <div class="col-md-6">
        <fieldset data-ng-repeat="drink in drinks">
            <div class="page-header">{{drink.id}}</div>


            <div class="form-group row">

                <label for="type" class="col-xs-2 col-form-label">Type</label>
                <div class="col-xs-10">
                    <input class="form-control" type="text" id="type">
                </div>
            </div>
            <div class="form-group row">
                <label for="brand" class="col-xs-2 col-form-label">Brand</label>
                <div class="col-xs-10">
                    <input class="form-control" type="text" id="brand">
                </div>
            </div>
            <div class="form-group row">
                <label for="description" class="col-xs-2 col-form-label">Description</label>
                <div class="col-xs-10">
                    <input class="form-control" type="text" id="description">
                </div>
            </div>

            <div class="form-group row">
                <label for="amount" class="col-xs-2 col-form-label">Amount</label>
                <div class="col-xs-10">
                    <input class="form-control" type="number" id="amount">
                </div>
            </div>

            <div class="form-check row">
                <label for="requirement" class="col-xs-2 col-form-label">Requirement</label>
                <div class="col-xs-10">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox">
                    </label>
                </div>
            </div>

        </fieldset>
    </div>

    <div class="col-md-6">
        <fieldset data-ng-repeat="garnish in garnishes">
            <div class="page-header">{{garnish.id}}</div>
            <div class="form-group row">

                <label for="name" class="col-xs-2 col-form-label">Name</label>
                <div class="col-xs-10">
                    <input class="form-control" type="text" id="name">
                </div>
            </div>
            <div class="form-group row">
                <label for="amount" class="col-xs-2 col-form-label">Amount</label>
                <div class="col-xs-10">
                    <input class="form-control" type="text" id="amount">
                </div>
            </div>
        </fieldset>
    </div>
</div>