<ul class="nav nav-pills nav-stacked">
    <li class="nav-item">
        <a class="nav-link" href="/#/drinks">Display all drinks</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/#/add-drink">Manage drinks</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/#/station">Edit station</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/#/pour">Pour a drink</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/#/queuer">Queue a drink</a>
    </li>
</ul>
