<!-- keep # for older browsers -->
<ul class="nav nav-pills nav-stacked">
    <li class="nav-item" ng-show="!loggedIn">
        <a class="nav-link" ui-sref="register">Register</a>
    </li>

    <li class="nav-item" ng-show="!loggedIn">
        <a class="nav-link" ui-sref="login">Log In</a>
    </li>

    <li class="nav-item" ng-show="loggedIn" ng-controller="logoutController">
        <a class="nav-link" ui-sref="logout" ng-click="logout()">Log Out</a>
    </li>

    <li class="nav-item" ng-show="loggedIn">
        <a class="nav-link" ui-sref="liquid">Add a Liquor/Mixer</a>
    </li>

    <li class="nav-item" ng-show="loggedIn">
        <a class="nav-link" ui-sref="create-recipe">Create a Recipe</a>
    </li>

    <li class="nav-item" ng-show="loggedIn">
        <a class="nav-link" ui-sref="station">Station Configuration</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" ui-sref="pour">Pour a Drink</a>
    </li>

    <li class="nav-item" ng-show="loggedIn">
        <a class="nav-link" ui-sref="queuer">Queue a Drink</a>
    </li>
</ul>
