<!--
<div class="page-header">
    <h3>Types of Liquors</h3>
</div>

<ul>
    <li ng-repeat='liquor in liquors'>{{liquor.type}}</li>
</ul>
-->
<br>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td><b>Type</b></td>
                <td><b>Brand</b></td>
                <td><b>Description</b></td>
                <td><b>Amount</b></td>
                <td><b>Barcode</b></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td>
                    <select ng-model="ingredient.type">
                        <option ng-repeat="choice in types" value="{{choice.type}}">{{choice.type}}</option>
                    </select>
                </td>
                <td><input list="brand" ng-model="ingredient.brand"/></td>
                <td><input type='text' ng-model="ingredient.description"></input></td>
                <td><input type='number' ng-model="ingredient.amount"></input></td>
                <td><input type='text' ng-model="ingredient.barcode"></input></td>
                <td><button ng-click="saveIngredient()">save</button></td>

            </tr>
        </tbody>
    </table>
</div>

<div ng-show="messageError" class="row">
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="messageError=null">
            <span aria-hidden="true">&times;</span>
        </button>

        {{messageError}}
    </div>
</div>

<div ng-show="messageSuccess" class="row">
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="messageSuccess=null">
            <span aria-hidden="true">&times;</span>
        </button>

        {{messageSuccess}}
    </div>
</div>
