<!--
<div class="page-header">
    <h3>Types of Liquors</h3>
</div>

<ul>
    <li ng-repeat='liquor in liquors'>{{liquor.type}}</li>
</ul>
-->
<br>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td><b>Type</b></td>
                <td><b>Brand</b></td>
                <td><b>Description</b></td>
                <td><b>Amount</b></td>
                <td><b>Barcode</b></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr>

                <!-- enter details -->
                <td>
                    <select>
                        <option ng-repeat="liquor in liquors" value="{{liquor.type}}">{{liquor.type}}</option>
                    </select>
                
                </td>
                <td><input list="types" ng-model="station.ingredients[$index].type"/></td>
                <td><input type='text'></input></td>
                <td><input type='number'></input></td>
                <td><input type='text'></input></td>
                <td><button ng-click="saveIngredient($event)">save</button></td>

            </tr>
        </tbody>
    </table>
</div>
