<div class="page-header">
      <h1>Choose a drink</h1>
</div>

<!-- http://stackoverflow.com/a/32358013 -->
<div class="row">
    <div ng-repeat="drink in drinks">
        <div class="col-lg-2 col-md-3 col-xs-6">
            <button type="button" class="btn padding btn-default btn-block"
                ng-class="{active : isDrinkSelected(drink)}"
                ng-click="selectDrink(drink)">
                {{drink.name}}
            </button>
        </div>
    </div>
</div>

</br>

<div ng-repeat="message in WebSocket.messages">
    <h1> {{message}} </h1> 
</div>


<div class="panel panel-primary" id="recipe" ng-show="drinkSelected">
    <div class="panel-heading">{{drinkSelected.name}}</div>

    <ul class="list-group">
        <li class="list-group-item" ng-repeat="i in drinkSelected.recipe track by $index">
            {{drinkSelected.recipe[$index].amount}} oz of {{drinkSelected.recipe[$index].ingredient}}
        </li>
        <li class="list-group-item">
            <button type="button" class="btn btn-primary" ng-click="pourDrink(drinkSelected)">Pour drink</button>
        </li>
    </ul>
</div>

<div class="alert alert-info alert-dismissible" role="alert" ng-show="addYourself">
    <button type="button" class="close" aria-label="Close" ng-click=selectDrink(false)>
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="page-header">
        <h4>After your drink has poured, add these ingredients:</h4>
    </div>

    <ul class="list-group">
        <li class="list-group-item" ng-repeat='(ingredient, amount) in addYourself'>
            {{amount/100}} oz of {{ingredient}}
        </li>
    </ul>
</div>
