<div class="page-header">
    <h1>Choose a drink</h1>
</div>

<div>
    <button type="button" class="btn btn-default"
    ng-repeat='drink in drinks'
    ng-class="{active : isSelected(drink)}"
    ng-click="selectDrink(drink, station)">
    {{drink.name}}
    </button>
</div>

</br>

<div class="panel panel-primary" ng-show="selected">
    <div class="panel-heading">{{selected.name}}</div>

    <div class="panel-body">
        <ol>
            <li ng-repeat='(ingredient, amount) in selected.recipe'>
                {{amount/100}} oz of {{ingredient}}
            </li>
        </ol>
    </div>
</div>
