<div class="page-header">
      <h1>Choose a drink</h1>
</div>

<!-- http://stackoverflow.com/a/32358013 -->
<div class="row">
    <div ng-repeat="drink in drinks">
        <div class="col-lg-2 col-md-3 col-xs-6">
            <button type="button" class="btn padding btn-default btn-block"
                ng-click="selectDrink(drink)">
                {{drink.name}}
            </button>
        </div>
    </div>
</div>

</br>

<div class="panel panel-primary" id="recipe" ng-if="listIngredients">
    <div class="panel-heading">{{drinkSelected.name}}</div>

    <ul class="list-group">
        <li class="list-group-item" ng-repeat="i in drinkSelected.recipe track by $index">
            {{drinkSelected.recipe[$index].amount}} oz of {{drinkSelected.recipe[$index].ingredient}}
        </li>
        <li class="list-group-item">
            <button type="button" class="btn btn-primary" ng-click="pourDrink(drinkSelected)">Pour drink</button>
        </li>
    </ul>
</div>

<div class="panel panel-primary" ng-if="WebSocket.pourInProgress()">
    <div class="panel-heading">{{drinkSelected.name}}</div>

    <ul class="list-group">
        <li class="list-group-item" ng-repeat="message in WebSocket.messages track by $index">
            {{message}}
        </li>
        <li class="list-group-item" ng-if="WebSocket.pourComplete()">
            <button type="button" class="btn btn-primary" ng-click="WebSocket.dismissPourStatus()">Close</button>
        </li>
    </ul>
</div>
