<div class="page-header">
    <h1>Create a Recipe</h1>
</div>

<div ng-show="messageSuccess">
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="messageSuccess=null">
            <span aria-hidden="true">&times;</span>
        </button>

        {{messageSuccess}}
    </div>
</div>

<div class="form-group row">
    <label for="name" class="col-xs-2 col-md-1 col-form-label">Name</label>
    <div class="col-xs-10 col-md-11">
        <input class="form-control" type="text" ng-model="recipe.name">
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div ng-show="!addLiquidDisplay">
            <input type="button" class="btn btn-primary" value="Add Liquid" ng-click="addLiquidDisplay=true"></input>
            <input type="button" class="btn btn-primary" value="Add Garnish" ng-click="addGarnishDisplay=true"></input>
        </div>

        <div ng-show="addLiquidDisplay">
            <div class="page-header">
                <h3>Liquid</h3>
            </div>

            <div class="form-group row">
                <label for="type" class="col-xs-2 col-form-label">Type</label>
                <div class="col-xs-10">
                    <select class="form-control" ng-model="liquidSelection.type" ng-change="selectType()"
                        ng-options="o.type as o.type for o in types">
                    </select>
                </div>
            </div>

            <div class="form-group row" ng-show="liquidSelection.subtypes">
                <label for="subtype" class="col-xs-2 col-form-label">Subtype</label>
                <div class="col-xs-10">
                    <select class="form-control" ng-model="liquidSelection.subtype" ng-change="selectSubtype()"
                            ng-options="o.subtype as o.subtype for o in liquidSelection.subtypes">
                    </select>
                </div>
            </div>

            <div class="form-group row" ng-show="liquidSelection.brands">
                <label for="brand" class="col-xs-2 col-form-label">Brand</label>
                <div class="col-xs-10">
                    <select class="form-control" ng-model="liquidSelection.brand" ng-change="selectBrand()"
                        ng-options="o.brand as o.brand for o in liquidSelection.brands">
                    </select>
                </div>
            </div>

            <div class="form-group row" ng-show="liquidSelection.descriptions">
                <label for="description" class="col-xs-2 col-form-label">Description</label>
                <div class="col-xs-10">
                    <select class="form-control" ng-model="liquidSelection.description" ng-change="selectDescription()"
                        ng-options="o.description as o.description for o in liquidSelection.descriptions">
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="amount" class="col-xs-2 col-form-label">Amount (oz)</label>
                <div class="col-xs-10">
                    <input class="form-control" type="number" id="amount" ng-model="liquidSelection.amount">
                </div>
            </div>

            <div class="form-check row">
                <label for="requirement" class="col-xs-2 col-form-label">Requirement</label>
                <div class="col-xs-10">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" ng-model="liquidSelection.requirement">
                    </label>
                </div>
            </div>

            <div class="form-check row">
                <div class="col-xs-10">
                    <div ng-show="liquidSelection.id != null">
                        <input type="button" class="btn btn-primary" value="Add Liquid to Recipe" ng-click="addLiquidToRecipe()"></input>
                    </div>
                    <input type="button" class="btn btn-danger" value="Cancel/Delete" ng-click="cancelLiquid()"></input>
                </div>
            </div>
        </div>

        <div ng-show="addGarnishDisplay">
            <div class="page-header">
                <h3>Garnish</h3>
            </div>

            <div class="form-group row">
                <label for="name" class="col-xs-2 col-form-label">Name</label>
                <div class="col-xs-10">
                    <input class="form-control" type="text" id="name" ng-model="garnishSelection.name">
                </div>
            </div>

            <div class="form-group row">
                <label for="amount" class="col-xs-2 col-form-label">Amount</label>
                <div class="col-xs-10">
                    <input class="form-control" type="text" id="amount" ng-model="garnishSelection.amount">
                </div>
            </div>

            <div class="form-check row">
                <div class="col-xs-12">
                    <input type="button" class="btn btn-primary" value="Add Garnish to Recipe" ng-click="addGarnishToRecipe()"></input>
                    <input type="button" class="btn btn-danger" value="Cancel/Delete" ng-click="cancelGarnish()"></input>
                </div>
            </div>
        </div>

        <div ng-show="ingredientError">
            <br>
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="ingredientError=null">
                    <span aria-hidden="true">&times;</span>
                </button>

                {{ingredientError}}
            </div>
        </div>
    </div>

    <br>
    <div class="col-md-6">
        <div class="page-header">
            <h3>Recipe</h3>
        </div>

        <div class="panel panel-primary" ng-show="recipe.liquids.length">
            <div class="panel-heading">Liquids</div>

            <table class="table">
                <tr>
                    <th>Type</th>
                    <th>Subtype</th>
                    <th>Brand</th>
                    <th>Description</th>
                    <th>Amount (oz)</th>
                    <th>Requirement</th>
                    <th></th>
                </tr>
                <tr ng-repeat="liquid in recipe.liquids track by $index">
                    <td>{{liquid.type}}</td>
                    <td>{{liquid.subtype}}</td>
                    <td>{{liquid.brand}}</td>
                    <td>{{liquid.description}}</td>
                    <td>{{liquid.amount}}</td>
                    <td>{{liquid.requirement}}</td>
                    <td>
                        <input type="button" class="btn btn-warning" value="Edit" ng-click="editLiquid($index)"></input>
                        <input type="button" class="btn btn-danger" value="Delete" ng-click="deleteLiquid($index)"></input>
                    </td>
                </tr>
            </table>
        </div>

        <div class="panel panel-primary" ng-show="recipe.garnishes.length">
            <div class="panel-heading">Garnishes</div>

            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Amount</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr ng-repeat="garnish in recipe.garnishes track by $index">
                    <td>{{garnish.name}}</td>
                    <td>{{garnish.amount}}</td>
                    <td>
                        <input type="button" class="btn btn-warning" value="Edit" ng-click="editGarnish($index)"></input>
                        <input type="button" class="btn btn-danger" value="Delete" ng-click="deleteGarnish($index)"></input>
                    </td>
                </tr>
            </table>
        </div>

        <div ng-show="recipe.name==null || !recipe.liquids.length">
            <div class="alert alert-warning" role="alert">
                <p ng-show="recipe.name==null">
                    A name is required to submit this recipe.
                </p>
                <p ng-show="!recipe.liquids.length">
                    At least one liquid is required to submit this recipe.
                </p>
            </div>
        </div>

        <div ng-show="recipe.name!=null && recipe.liquids.length">
            <input type="button" class="btn btn-success" value="Submit Recipe" ng-click="submitRecipe()"></input>
        </div>
    </div>
</div>
