<div ng-if="!stationSelected">
    <div class-"page-header">
        <h3>Already have a station?</h3>
    </div>
    <div class="row">
        <div class="col-md-3">
            <input type="text" class="form-control" placeholder="Enter Station ID" ng-model="station.id">
        </div>
        <div class="col-md-1">
            <button class="btn btn-default" ng-click="findStation(station.id)">Find station</button>
        </div>
    </div>

    <div ng-show="error" class="row">
        <br>
        <div class="col-md-4">
            <div class="alert alert-danger" role="alert">{{error}}</div>
        </div>
    </div>

    <div class-"page-header">
        <h3>Modify station?</h3>
    </div>
    <button class="btn btn-default">Register station</button>
</div>

<div ng-if="stationSelected">
    <div class="page-header">
        <h3>Station IP Address</h3>
    </div>

    <div ng-show="!stationIPEdit">
        <p>{{station.host}}:{{station.port}}
        <button ng-click="editIPAddress()">Edit</button>
        </p>
    </div>
    <div ng-show=" stationIPEdit">
        <input type="text" placeholder="" ng-model="station.host"></input> :
        <input type="number" placeholder="" ng-model="station.port"></input>
        <button ng-click="saveIPAddress()">Save</button>
    </div>

    <div class="page-header">
        <h3>Number of Valves</h3>
    </div>

    <input type="number" placeholder="" ng-model="station.num_valves"></input>
    <button ng-click="saveNumValves()">Save</button>

    <div class="page-header">
        <h3>Ingredients</h3>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td><b>Valve #</b></td>
                    <td><b>Type</b></td>
                    <td><b>Brand</b></td>
                    <td><b>Amount left (oz)</b></td>
                    <td><b>Pressurized?</b></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="i in station.ingredients track by $index">
                    <!-- display -->
                    <td ng-show="actual[$index]">{{station.ingredients[$index].valve}}</td>
                    <td ng-show="actual[$index]">{{station.ingredients[$index].type}}</td>
                    <td ng-show="actual[$index]">{{station.ingredients[$index].brand}}</td>
                    <td ng-show="actual[$index]">{{station.ingredients[$index].amount}}</td>
                    <td ng-show="actual[$index]">{{station.ingredients[$index].pressurized}}</td>
                    <td ng-show="actual[$index]"><button id="{{station.ingredients[$index].valve}}" ng-click="editIngredient($event)">edit</button></td>

                    <!-- edit -->
                    <td ng-show="!actual[$index]">{{station.ingredients[$index].valve}}</td>
                    <td ng-show="!actual[$index]"><input list="types" ng-model="station.ingredients[$index].type"/></td>
                    <td ng-show="!actual[$index]"><input type='text' list='list-{{$index+1}}' value='{{station.ingredients[$index].brand}}'></input></td>
                    <td ng-show="!actual[$index]"><input type="number" placeholder="" ng-model="station.ingredients[$index].amount"></input></td>
                    <td ng-show="!actual[$index]"><select placeholder="" ng-model="station.ingredients[$index].pressurized"><option value="true">true</option><option value="false">false</option></input></td>
                    <td ng-show="!actual[$index]"><button id="{{station.ingredients[$index].valve}}" ng-click="saveIngredient($event)">save</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- list of types -->
<datalist id="types">
    <select>
        <!-- Yo, dawg. I heard you like types. -->
        <option ng-repeat="type in types" value="{{type.type}}"></option>
    </select>
</datalist>
