<h1>Your Station ID is: {{station._id}}</h1>

<h2>Your local IP address is: {{station.ip_address}}</h2>

<h3>Your station is configured as such:</h3>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td ng-repeat="i in getMaxValves(12) track by $index">{{$index}}</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td ng-repeat="i in getMaxValves(12) track by $index">{{station["gpio"+$index].name}}</td>
            </tr>
        </tbody>
    </table>
</div>
