<h1>Your Station ID is: {{station[0]._id}}</h1>

<h2>Your local IP address is: {{station[0].ip_address}}</h2>

<h3>Your station is configured as such:</h3>
<!--<p>{{station[0].max_valves}}</p>-->
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td ng-repeat="i in getMaxValves(12) track by $index">{{$index}}</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td ng-repeat="i in getMaxValves(12) track by $index">{{station[0]["gpio"+$index].name}}</td>
            </tr>
        </tbody>
    </table>
</div>
